/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* ===== LAYOUT GENERAL ===== */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* ===== HEADER ===== */
.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #286bcf; /* AZUL */
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem; /* PADDING VISIBLE */
  max-width: 1200px;
  margin: 0 auto;
}
.login-item {
  margin-left: 2rem; /* separación respecto al menú */
}

.login-link {
  background-color: #ff9800;
  color: white !important;
  padding: 0.5rem 1.2rem;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.login-link:hover {
  background-color: #e68900;
  transform: translateY(-2px);
}

.logo-header {
  font-size: 1.4rem;
  font-weight: bold;
  color: #f5f8fc;
  text-decoration: none;
}

.nav-header ul {
  display: flex;
  list-style: none;
  color: white;

}

.nav-header a {
  text-decoration: none;
  color: #f8f2f2;
  padding: 0.5rem 1rem;
  transition: box-shadow 0.3s;
}

/* sombra naranja al pasar el mouse */
.nav-header a:hover {
  box-shadow: 0 4px 0 #ff9800;
}


.hero {
  position: relative;
  min-height: calc(100vh - 70px); /* resta la altura del header */
  padding-top: 70px;              /* espacio para el header fijo */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("img/neuro.jpg") center / cover no-repeat;
  opacity: 0.35;
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
  color: #222;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* ===== FOOTER ===== */
.footer {
  background: #286bcf;
  padding: 30px 20px;
  text-align: center;
}

.social-icon {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 15px;
}

.icon {
  color: white;
  font-size: 32px;
  display: inline-block;   /* 👈 IMPORTANTE */
  margin: 0 10px;
  transition: transform 0.25s ease;
}

.icon:hover {
  transform: translateY(-6px);
}

.footer-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 15px;
}

.footer-menu a {
  color: white;
  text-decoration: none;
  margin: 5px 12px;
  opacity: 0.7;
}

.footer-menu a:hover {
  opacity: 1;
}

.text {
  color: white;
  font-size: 14px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .nav-header ul {
    gap: 10px;
  }

  .hero h1 {
    font-size: 2rem;
  }
}
